* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}

p {
    line-height: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.background-red{
    background-color: #F84646;
    color: #fff;
}

#header-container {
    height: 100vh;
    padding: 2.5rem 7.5rem;
    background-image: url(../assets/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-div {
    width: 41rem;
}

#header-div > p {
    margin-top: 1rem;
}

.container {
    padding: 5rem 8rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 5rem;
}

.grid-item{
    margin: 0.5rem;
}

#contact-container > p {
    margin-top: .5rem;
}

.button-contact {
    background-color: #F84646;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.container-qualities > p{
    margin-top: 2rem;
    padding: 0 15rem;
}

.container-services > p {
    margin-top: .5rem;
}

.services-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.container-footer div > ul > li{
    list-style: none;
    margin-top: 1rem;
}

.container-footer div > ul > li:first-child{
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.container-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9rem;
}

.container-copyright > div > img{
    margin-left: 0.5rem;
}

.container-enterprises {
    background-color: #F4F5F7;
}

.container-enterprises > p {
    margin-top: .5rem;
}

.grid-container-enterprises {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.grid-enterprise-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: .8rem 0;
}

.enterprise-1 {
    grid-area: 3 / 1;     
}

.enterprise-2 {
    grid-area: 2 / 2;
}

.enterprise-3 {
    grid-area: 3 / 2;
}

.enterprise-4 {
    grid-area: 1 / 3;
}

.enterprise-5 {
    grid-area: 2 / 3;
}

.enterprise-6 {
    grid-area: 3 / 3;
}

.enterprise-7 {
    grid-area: 2 / 4;
}

.enterprise-8 {
    grid-area: 3 / 4;
}

.enterprise-9 {
    grid-area: 3 / 5;
}

.container-article {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8rem 10rem;
}

.container-article > article > div > button {
    background-color: #F84646;
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: .5rem;
}

.article {
    display: flex;
}

.article-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 5rem;
}

.article-text > div > p {
    margin-top: 2rem;
    color: #808080;
    line-height: 2rem;
}

.container-article > .article:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: 8rem;

}

.container-article > .article-reverse > .article-text {
    margin: 0 0 0 5rem;
}

.container-article > .article > img {
    object-fit: cover;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    *{
        font-size: 12px;
    }

    .container {
        padding: 5rem 4rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-article {
        padding: 5rem 5rem;
    }

    .container-qualities > p {
        padding: 0 3rem;
    }

    .container-article > .article > img {
        width: 50%;
    }

    .container-article > img:nth-child(even) {
        width: 50%;
    }


    .grid-container-enterprises {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .enterprise-1 {
        grid-area: auto;     
    }
    
    .enterprise-2 {
        grid-area: auto;
    }
    
    .enterprise-3 {
        grid-area: auto;
    }
    
    .enterprise-4 {
        grid-area: auto;
    }
    
    .enterprise-5 {
        grid-area: auto;
    }
    
    .enterprise-6 {
        grid-area: auto;
    }
    
    .enterprise-7 {
        grid-area: auto;
    }
    
    .enterprise-8 {
        grid-area: auto;
    }
    
    .enterprise-9 {
        grid-area: auto;
    }
}

/* Mobile */
@media only screen and (max-width: 767px){
    
}